body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.App-title {
	text-align: center;
    font-size: 250%;
}
.Categorylist{
	margin:0 2%
}
.Homelink{
	text-align: center;
}
.NewPostlink{
	margin-top: 2%
}
.AllPosthead{
	font-size: 150%;
}
.Posttitle{
	margin-top: 1%;
	font-size: 180%;
}
.Postbody{
	margin-top: 1%;
}
.Postauthor{
	margin-top: 1%;
	font-size: 80%;
}
.Postcategory{
	margin-top: 1%;
}


.modal {
  position: absolute;
  top: 40px;
  left: 200px;
  /*right: 200px;*/
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 500px;
}